/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "fonts.scss";
@import "navbar.scss";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: TitilliumWeb, 'sans-serif' !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#formHeader{
  text-align: center;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  color: #0a53be;
  margin-bottom: 20px;
}

.form-header{
  width: 100%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  background: #aaaaaa;
  display: block;
  text-decoration: none;
  color:#222222;
  text-transform: uppercase;
  font-weight: 600;
}

.flash-message{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;

  color: white;
  font-weight: bold;
  text-align: center;

  button{
    background: none;
    border: 1px solid black;
    font-weight: bold;
    color: black;
  }

  &.success{
    background-color: #0f5132;
  }
  &.error{
    background-color: #6a1a21;
  }
}